// @import "variables";
// @import "functions";

$primary-color: steelblue;
$secondary-color: skyblue;
$light-color: #f4f4f4;
$dark-color: black;
$font-stack: Arial, Helvetica, sans-serif;

// Set Text Color
@function set-notification-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}
// Transform Mixin

@mixin transform($property) {
  --webkit-transform: $property;
  -ms-transform: &$property;
  transform: $property;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-color;
  color: $dark-color;
  font-family: $font-stack;
  line-height: 1.5;
}

header {
  background: $light-color;
  color: set-notification-text-color($light-color);
  padding: 1rem;
  h1 {
    text-align: center;
  }
}

.section {
  padding: 3rem;

  h3 {
    font-size: 2rem;
  }

  &-a {
    background: $primary-color;
    color: #fff;
  }

  &-b {
    background: $secondary-color;
    color: #fff;
  }
}

// a {
//   color: #333;

//   &:hover {
//     color: $light-color;
//   }
// }

%btn-shared {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
}

.btn {
  &-light {
    @extend %btn-shared;
    background-color: $light-color;
    color: #333;
    border-radius: 10px;

    &:hover {
      @include transform(rotate(20deg));
      background-color: darken($light-color, 10%);
    }
  }

  &-dark {
    @extend %btn-shared;
    background-color: $dark-color;
    color: #fff;
    border-radius: 10px;

    &:hover {
      @include transform(rotate(-20deg));
      background-color: lighten($dark-color, 10%);
    }
  }
}
