* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background: #333 url(https://source.unsplash.com/daily) no-repeat center
    center/cover;
  color: #fff;
  height: 100vh;
  /* całość po wysokości */
  /* width: 50vw; połowa po szerokości */
  text-align: center;
  /* 100 vh ma w boki i góra dół cały ekran */
  padding: 2rem;
  padding-top: 15rem;
}

header h1 {
  font-size: 3rem;
}

header p {
  margin: 1rem 0;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #f4f4f4;
  color: gray;
  padding: 0.75rem 2rem;
}

@media (max-height: 450px) {
  header {
    padding-top: 5rem;
  }
}
